@import '../../stylesheets/variables';

// react-pro-sidebar v1.x uses styled-components and CSS variables
// Custom overrides for the sidebar using CSS custom properties
.ps-sidebar-root {
  border-right: 0.25rem solid $yellow;
  height: 100vh;
  position: fixed;
  top: 0;

  // Hide scrollbar
  .ps-sidebar-container {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// Menu item styling
.ps-menu-button {
  font-family: $font-family-mr-eaves;

  a,
  button {
    background: 0;
    border: 0;
    color: lighten($primary, 30%);
    text-decoration: none;
    transition: color ease-in-out 0.25s;

    &:hover {
      color: $white;
    }
  }
}

// MenuItem content
.ps-menu-label {
  font-family: $font-family-mr-eaves;
  color: lighten($primary, 30%);
  transition: color ease-in-out 0.25s;
}

.ps-menu-button:hover {
  .ps-menu-label {
    color: $white;
  }
}

// SubMenu styling
.ps-submenu-content {
  border-bottom: 0.125rem solid $yellow;
  border-top: 0.125rem solid $yellow;
}
