@use 'sass:color';
@import '../../stylesheets/variables';

@import '~react-pro-sidebar/dist/scss/styles';

.pro-sidebar {
  border-right: 0.25rem solid $yellow;
  height: 100vh;
  position: fixed;
  top: 0;

  > .pro-sidebar-inner {
    img.sidebar-bg {
      object-position: left;
      opacity: 1;
    }

    > .pro-sidebar-layout {
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.pro-item-content {
  font-family: $font-family-mr-eaves;

  a,
  button {
    background: 0;
    border: 0;
    color: color.adjust($primary, $lightness: 30%);
    text-decoration: none;
    transition: color ease-in-out 0.25s;

    &:hover {
      color: $white;
    }
  }
}

.pro-sub-menu {
  .pro-inner-item {
    border-bottom: 0.125rem solid $yellow;
  }
}

.pro-inner-list-item {
  border-bottom: 0.125rem solid $yellow;
  border-top: 0.125rem solid $yellow;

  .pro-inner-item {
    border: 0;
  }
}
