@import '../../stylesheets/variables';

.navLink {
  @include font-size(1.15rem);

  align-items: center;
  color: lighten($primary, 30%);
  cursor: pointer;
  display: flex;
  font-family: $font-family-mr-eaves;
  justify-content: space-between;
  margin-bottom: $spacer * 0.75;
  transition: color ease-in-out 0.25s;
  width: 100%;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.divider {
  @include font-size(1.15rem);
  border-bottom: solid $yellow 2px;
  color: $white;
  font-family: $font-family-mr-eaves;
  margin-bottom: 0.33rem;
  padding: 1rem;
}

.userName {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.roleLabel {
  background-color: rgba($secondary, 0.75);
  border-radius: 1rem;
  font-family: $font-family-sans-serif;
  font-size: 0.66rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.35rem 0.5rem;
  text-transform: uppercase;
}

.sidebarFooter {
  border-top: solid $yellow 1px;
  margin-top: auto;
}
