@import "~bootstrap/scss/functions";
@import "../../stylesheets/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";

.rule {
  table {
    @extend .table;
    @extend .table-borderless;
    @extend .table-striped;
    @extend .table-responsive;

    table-layout: fixed;

    thead {
      tr {
        th {
          font-weight: bold;
        }
      }
    }

    tbody {
      tr {
        td {
          font-family: $font-family-sans-serif;
          word-wrap: break-word;
        }
      }
    }
  }
}

.tableFrame {
  background-color: $white;
  border-collapse: separate;
  border-image: $background-frame 150 200 150 200 / 47px / 25px 17px;
  border-style: solid;
  box-shadow: $box-shadow;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 25px;
  width: 100%;
}
