body {
  font-size: 0.875rem;
}

.hero-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.feather {
  height: 16px;
  vertical-align: text-bottom;
  width: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  bottom: 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  left: 0;
  /* Behind the navbar */
  padding: 48px 0 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0.5rem;
  position: relative;
  top: 0;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: sticky;
  }
}

.sidebar .nav-link {
  color: #333;
  font-weight: 500;
}

.sidebar .nav-link .feather {
  color: #999;
  margin-right: 4px;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link.active .feather,
.sidebar .nav-link:hover .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-left: 15% !important;
  padding-top: 133px;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 64px;
  }
}

.form-control-dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
