.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
}

.infoContainer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 3fr 4rem 4rem;
  grid-column: auto/span 1;
}

.infoField {
  flex: 1;
}

.infoFieldSm {
  flex: 0 0 8rem;
  margin-right: 0.5rem;
}

.descContainer {
  display: flex;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addDamageButton {
  border: #2E2F30 solid 0.1rem;
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
  width: 4rem;

  small {
    font-size: 12px;
    line-height: 0.8;
  }
}

.damageContainer {
  display: flex;
  gap: 0.25rem;
}