@import '../../stylesheets/application';

.backgroundImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content {
  position: relative;
  z-index: 101;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 1rem 2rem 1rem 22rem;
  }
}

.wrapper {
  background-color: $dark-red;
  border-top: 0.25rem solid $orange;
  color: $white;
  padding: 1rem 2rem 1rem 6rem;
  position: relative;
}

.left,
.right {
  flex: 1;
}

.right {
  flex: 0 0 16rem;

  .nav {
    display: block;
    list-style: none;
    text-align: right;
  }
}

.footerLink {
  @extend .sans-serif;

  color: $white !important;
  padding: 0.5rem 1rem !important;

  &:hover {
    color: lighten($primary, 40%) !important;
  }
}

.siteTitle {
  color: lighten($blood-red, 40%);
  text-shadow: 1px 1px $black;
}

.logo {
  max-height: 15rem;
}

