@import '../../stylesheets/application';

.backgroundImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: top;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content {
  position: relative;
  z-index: 101;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 1rem 2rem 1rem 22rem;
  }
}

.wrapper {
  background-color: $dark-red;
  border-top: 0.25rem solid $orange;
  color: $white;
  padding: 1rem 2rem 1rem 6rem;
  position: relative;
}

.left,
.right {
  flex: 1;
}

.center {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  padding: 0 2rem;
}

.patreonBanner {
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
  }
}

.patreonImage {
  display: block;
  max-height: 10rem;
  width: auto;
}

.patreonText {
  @extend .mr-eaves;

  bottom: 0;
  color: $white;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.right {
  flex: 0 0 16rem;

  .nav {
    display: block;
    list-style: none;
    text-align: right;
  }
}

.footerLink {
  @extend .sans-serif;

  color: $white !important;
  padding: 0.5rem 1rem !important;

  &:hover {
    color: lighten($primary, 40%) !important;
  }
}

.siteTitle {
  color: lighten($blood-red, 40%);
  text-shadow: 1px 1px $black;
}

.logo {
  max-height: 12rem;
}
