@import '../../stylesheets/application';

.wrapper {
  background-color: $dark-red;
  border-top: 0.25rem solid $orange;
  color: $white;
  padding: 1rem 2rem 1rem 6rem;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 1rem 2rem 1rem 22rem;
  }
}

.left,
.right {
  flex: 1;
}

.right {
  flex: 0 0 16rem;

  .nav {
    display: block;
    list-style: none;
    text-align: right;
  }
}

.footerLink {
  @extend .sans-serif;

  color: $white !important;
  padding: 0.5rem 1rem !important;

  &:hover {
    color: lighten($primary, 40%) !important;
  }
}

.siteTitle {
  color: lighten($blood-red, 40%);
  text-shadow: 1px 1px $black;
}

.logo {
  max-height: 15rem;
}

