.formContainer {
  background-color: #c9ad6a;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(#000, 0.75);
  display: grid;
  grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 1rem;
}
