@import "../stylesheets/variables";

.page {
  margin: 0 0 0 5rem;
  min-height: calc(100vh - 18.75rem);
  padding: 1rem;
  position: relative;
  z-index: 200;

  @include respond-to(md) {
    margin: 0 0 0 15rem;
    padding: 1rem;
  }

  &::after {
    background-image: url("/images/dndBottomDeco.png");
    background-size: cover;
    bottom: 0;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &.collapsed :global {
    margin: 0 0 0 5rem;
    padding: 1rem;
  }
}

.pageWrapper {
  display: flex;
}

.pageContent {
  flex: 1;
}
