@import '../stylesheets/variables';

.page {
  background-color: #eee5ce;
  background-image: url('/images/dndBG.jpg');
  margin: 0 auto;
  padding: 1rem 1rem 6.25rem;
  position: relative;
  width: 100%;

  @include respond-to(md) {
    padding: 1rem 6.25rem 6rem;
  }

  &::after {
    background-image: url('/images/dndBottomDeco.png');
    background-size: cover;
    bottom: 0;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

