@import '../stylesheets/variables';

.page {
  background-color: #eee5ce;
  background-image: url('/images/dndBG.jpg');
  margin: 0 auto;
  min-height: calc(100vh - 18.75rem);
  padding: 1rem 1rem 6.25rem 6rem;
  position: relative;
  width: 100%;

  @include respond-to(md) {
    padding: 1rem 2rem 6rem 22rem;
  }

  &::after {
    background-image: url('/images/dndBottomDeco.png');
    background-size: cover;
    bottom: 0;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
}

.pageWrapper {
  display: flex;
}

.pageContent {
  flex: 1;
}

