{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 8,
    "selector-max-compound-selectors": 10,
    "scss/at-extend-no-missing-placeholder": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": null
  }
}