@import '../../../../stylesheets/variables';

.actionContainer {
  @include padding(1rem, 2.5rem, 1rem, 2.5rem);

  background-color: $brown;
  color: $white;
}

.wrapper {
  padding: 0;
}

.actionWrapper,
.subformWrapper {
  display: flex;
  gap: 0.5rem;

  .wrapper {
    padding: 0;
  }
}

.actionCol {
  flex: 1;
}

input {
  &:focus {
    color: $white;
  }
}
