@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.contentWrapper {
  @include tablet {
    padding: 3rem 2rem;
  }

  // background-color: $content-background;
  margin: 0 auto;
  max-width: 85rem;
  padding: 3rem 0;
}
