@import "../../stylesheets/variables";

.input {
  @include form-input;
}

.checkboxWrapper {
  display: block;
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
  padding-left: 1.5rem;

  .checkbox {
    float: left;
    margin-left: -1.5rem;
  }
}

.checkbox {
  appearance: none;
  background-color: $input-bg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid $gray-800;
  height: 1.25rem;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
  width: 1.25rem;

  &[type="checkbox"] {
    border-radius: 0.15rem;
  }

  &:checked {
    background-color: $primary;
    border-color: $white;

    &[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
  }
}

.checkboxLabel {
  display: inline-block;
  margin-bottom: 0;
}

.buttonGroup {
  @include button-group;
}

.error {
  align-items: center;
  color: $danger;
  display: flex;
  margin-top: 0.25rem;
}

.inputGroup {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;

  .input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: 1;
    position: relative;
  }

  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
  }
}

.label {
  font-family: $font-family-sans-serif;
  margin-bottom: 0.25rem;
}

.tagInputContainer {
  display: flex;
  flex-direction: column;
  gap: $spacer * 0.5;
  background-color: $input-bg;
  border: $border-width solid $input-border-color;
  border-radius: $border-radius;
  padding: $spacer * 0.5;
  min-height: 2.5rem;

  &:focus-within {
    border-color: $input-focus-border-color;
    outline: none;
  }
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer * 0.5;
}

.tagPill {
  display: inline-flex;
  align-items: center;
  gap: $spacer * 0.25;
  background-color: $primary;
  color: $white;
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  padding: $spacer * 0.5 $spacer * 0.75;
  border-radius: $border-radius;
  font-weight: 500;
}

.tagRemove {
  background: none;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  margin-left: $spacer * 0.5;
  transition: $transition-base;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.tagInput {
  background: transparent;
  border: none;
  font-family: $font-family-serif;
  font-size: $font-size-base;
  color: $gray-900 !important;
  padding: $spacer * 0.25 0;
  flex: 1;
  -webkit-text-fill-color: $gray-900;

  &:focus {
    outline: none;
    color: $gray-900 !important;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 0.6;
  }
}
