@import '../../stylesheets/variables';

.input {
  @include form-input;
}

.checkboxWrapper {
  display: block;
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
  padding-left: 1.5rem;

  .checkbox {
    float: left;
    margin-left: -1.5rem;
  }
}

.checkbox {
  appearance: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid $gray-800;
  height: 1rem;
  margin-top: 0.25em;
  vertical-align: top;
  width: 1rem;
}

.checkboxLabel {
  display: inline-block;
}

.buttonGroup {
  display: inline-flex;
  padding: 0.5rem 0;
  position: relative;
  vertical-align: middle;
  width: 100%;

  > button {
    flex: 1;
    margin: 0;
    position: relative;
  }

  // Reset rounded corners
  > button:not(:last-child),
  > .buttonGroup:not(:last-child) > button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  > button:nth-child(n + 3),
  > button:not(:first-child),
  > .buttonGroup:not(:first-child) > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.inputGroup {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;

  .input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: 1;
    position: relative;
  }

  button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
  }
}

.label {
  font-family: $font-family-sans-serif;
  margin-bottom: 0.25rem;
}

.abilityWrapper {
  button {
    border: 0.0625rem solid $gray-400;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 0 -0.0625rem;
    padding: 0.5rem;
    white-space: nowrap;
    width: 100%;

    &:first-child {
      flex: 3;
      margin-right: -0.0625rem;
    }

    &:last-child {
      flex: 2;
    }

    svg {
      margin-left: auto;
    }
  }

  .buttonGroup {
    padding: 0;
  }

  .wrapper {
    padding: 0;
  }

  .input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
