@import "../../stylesheets/variables";

.reactSelect {
  &__control {
    background-color: $input-bg !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: $transition-base;

    &:hover {
      border-color: $primary !important;
    }

    &:focus,
    &:active {
      outline: none !important;
    }
  }

  &__indicator {
    color: lighten($primary, 25%) !important;
  }

  &__indicator-separator {
    background-color: lighten($primary, 25%) !important;
  }

  &__menu {
    background-color: lighten($orange, 20%) !important;
    border-radius: 0 !important;
    margin-top: 0.125rem !important;
  }

  &__multi-value {
    background-color: $primary !important;
    color: $white !important;

    &__label {
      color: $white !important;
    }
  }

  &__option {
    &--is-focused {
      background-color: lighten($primary, 25%) !important;
      color: $white !important;
    }

    &--is-selected {
      background-color: $primary !important;
      color: $white !important;
    }
  }
}
