@import "../../stylesheets/variables";

.pagination {
  @include respond-to(md) {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
}

.pageNumber {
  font-family: $font-family-mr-eaves;
  font-size: $font-size-lg;

  span {
    color: $primary;
  }
}

.pageForm {
  align-items: center;
  display: flex;
}

.tableWrapper {
  form {
    margin: 1rem 0;
  }
}

.inputGroup {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  input {
    @include form-input;

    border-radius: $border-radius-lg 0 0 $border-radius-sm;
    flex: 1 1 auto;
    min-width: 0;
    padding: 0.5rem;
    position: relative;
    width: 1%;
  }

  .searchButton {
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0 0 0 -0.0625rem;
  }
}
