<% title "Dashboard" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<h1>Dashboard</h1>
<h2>
  <% if current_user && current_user.admin? %>
    <span class="badge badge-pill badge-success">Admin</span>
  <% elsif current_user && current_user.dungeon_master? %>
    <span class="badge badge-pill badge-info">Dungeon Master</span>
  <% elsif current_user %>
    <span class="badge badge-pill badge-warning">Player</span>
  <% end %>
</h2>

<div class="row">
  <div class="col-sm-6">
    <div class="list-group">
      <a href="/users" class="list-group-item list-group-item-action">
        <%= @dms.count %> <strong>Dungeon Master<%= 's' if @dms.count > 1 %></strong>
      </a>
      <a href="/campaigns" class="list-group-item list-group-item-action">
        <%= @campaigns.count %> <strong>Campaign<%= 's' if @campaigns.count > 1 %></strong>
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    
  </div>
</div>
