@import "~bootstrap/scss/functions";
@import "../../stylesheets/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/tables";

.section {
  column-gap: 5rem;
  columns: 400px 2;
  min-height: 30rem;

  table {
    @extend .table;
    @extend .table-borderless;
    @extend .table-striped;

    tbody {
      tr {
        td {
          font-family: $font-family-sans-serif;
        }
      }
    }
  }
}

.info {
  display: inline-block;
  font-family: $font-family-sans-serif;
  margin-bottom: $spacer * 1.5;
  width: 100%;

  h2 {
    @include font-size(0.9rem);
    border: 0;
    color: $body-color;
    font-family: $font-family-sans-serif;
    font-style: italic;
    margin-top: -1rem;
  }

  span {
    font-style: italic;
    font-weight: bold;
    margin-right: 0.5rem;
    text-transform: capitalize;
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    padding: 0.25rem 0;
  }
}

.tableFrame {
  background-color: $white;
  border-collapse: separate;
  border-image: $background-frame 150 200 150 200 / 47px / 25px 17px;
  border-style: solid;
  box-shadow: $box-shadow;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 25px;
  width: 100%;
}
