@import '../../stylesheets/variables';

.logo {
  clip-rule: evenodd;
  fill-rule: evenodd;
  stroke-linejoin: miter;
  stroke-miterlimit: 2;
}

.swords {
  fill: $ash;
  fill-rule: nonzero;
  stroke: $gray-100;
  stroke-width: 12px;
}

.shield {
  //fill: linear-gradient(90deg, $dark-red 0%, $ash 35%, $primary 100%);
  fill: $dark-red;
  fill-rule: nonzero;
  stroke: $gray-900;
  stroke-width: 10px;
}

.dnd {
  fill: $blood-red;
  fill-rule: nonzero;
}
