@import '../../../stylesheets/variables';

.genForm {
  button {
    margin: 0.5rem 0.5rem 0 0;
  }

  h4 {
    border-bottom: $orange solid 0.05rem;
    color: $primary;
    font-size: $h5-font-size;
    font-weight: normal;
    margin: 1.25rem 0 0.75rem;
    padding-bottom: 0.25rem;
  }
}

.challenge {
  button {
    margin: 0;
  }
}

.twoCol,
.threeCol,
.fourCol,
.fiveCol,
.sixCol {
  @include margin(null, null, 1rem, null);

  display: grid;
  grid-gap: 0.5rem;
}

.twoCol {
  grid-template-columns: repeat(2, 1fr);
}

.threeCol {
  grid-template-columns: repeat(3, 1fr);
}

.fourCol {
  grid-template-columns: repeat(4, 1fr);
}

.fiveCol {
  grid-template-columns: repeat(5, 1fr);
}

.sixCol {
  grid-template-columns: repeat(6, 1fr);
}

.largeInputs {
  :global(.reactSelect__control),
  input {
    font-size: $font-size-lg;
  }
}
