@import '../../../stylesheets/variables';

.genForm {

  &.validated {

  }

  &.wasValidated {

  }
}

.fourCol,
.fiveCol,
.sixCol {
  @include margin(null, null, 1rem, null);

  display: grid;
  grid-gap: 0.5rem;
}

.fourCol {
  grid-template-columns: repeat(4, 1fr);
}

.fiveCol {
  grid-template-columns: repeat(5, 1fr);
}

.sixCol {
  grid-template-columns: repeat(6, 1fr);
}
