@import '../../stylesheets/variables';

.racePage {
  @include resp-container;
}

.subheading {
  @include font-size($font-size-lg);
  border-bottom: 0.05rem solid $primary;
  color: $dark-red;
  font-family: $font-family-sans-serif;
}

.traitName {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: bold;
}


