@import '../../stylesheets/variables';

.frame {
  background-clip: border-box;
  background-color: $card-bg;
  border-image: $orange-border;
  border-style: solid;
  border-width: 10px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  font-family: 'Scaly Sans', sans-serif;
  min-width: 0;
  padding-top: 1rem;
  position: relative;
}

.body {
  flex: 1;
  padding: 0.75rem 1.25rem;
}

.subtitle {
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: -0.25rem;
}

.title {
  color: $dark-red;
  font-family: 'Mr Eaves', sans-serif;
  font-size: $font-size-lg;
  margin-bottom: 0.5rem;
}
