@import '../../stylesheets/variables';

.navLink,
.navLinkActive,
.navLinkSmall,
.navLinkSmallActive {
  @include font-size(1.15rem);

  align-items: center;
  display: flex;
  font-family: 'Mr Eaves', sans-serif;
  justify-content: space-between;
  margin-bottom: $spacer * 0.75;
  width: 100%;
}

.navLinkSmall,
.navLinkSmallActive {
  @include font-size(1rem);

  margin-bottom: 0.25rem;
  padding-left: 1rem;
}

.navLink,
.navLinkSmall {
  color: lighten($primary, 30%);
  cursor: pointer;
  transition: color ease-in-out 0.25s;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  svg {
    display: none;
  }
}

.navLinkActive,
.navLinkSmallActive {
  color: $white;
  cursor: pointer;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  svg {
    display: block;
    height: 1.25rem;
    transform: rotateY(-180deg);
    width: 1.25rem;
  }
}
