@import '~bootstrap/scss/functions';
@import '../../stylesheets/variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/tables';

.nameOptions {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: 1fr;
  width: 100%;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    margin: 0;
    width: 100%;
  }
}

.buttonBar {
  @include button-bar;
}

.content {
  padding-top: $spacer;
}

.twoColumn {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: 1fr 1fr;
  padding-top: $spacer * 2;
  width: 100%;
}

table {
  @extend .table;
  @extend .table-borderless;
  @extend .table-striped;
  @extend .table-responsive;

  table-layout: fixed;

  tbody {
    tr {
      td {
        font-family: $font-family-sans-serif;
        word-wrap: break-word;
      }
    }
  }
}
