<div class="nested-fields">
  <div class="d-flex align-items-end">
    <%= f.input :name,
          collection: DndRules.skills,
          include_blank: false,
          include_hidden: false,
          input_html: { class: "skill-selection" },
          wrapper_html: {class: 'mr-3' } %>
    <%= f.input :score, required: true, wrapper_html: {class: 'mr-3' } %>
    <%= link_to_remove_association "Remove", f, class: "btn btn-warning mb-3" %>
  </div>
</div>
