@import '../../stylesheets/variables';

.mrEaves {
  color: $dark-red;
  font-family: Mr Eaves, sans-serif;
}

.page {
  width: 100%;
}

.sectionHeading {
  @extend .mrEaves;
}

.sectionGroup {
  display: inline-block;
  width: 100%;
}

.subsectionHeading {
  @extend .mrEaves;
  font-size: $font-size-lg;
}

.featureHeading {
  @extend .mrEaves;
  border-bottom: solid 0.125rem $yellow;
}

.infoSection {
  column-gap: 3rem;
  columns: 400px 2;
}

.tableContainer {
  margin: 0 auto;
  max-width: 1140px;
}


