@import "../../stylesheets/variables";

.button {
  align-items: center;
  align-self: center;
  border: 0;
  border-radius: 0.25rem;
  display: inline-flex;
  font-family: $font-family-mr-eaves;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem 0.75rem;
  text-align: center;
  transition: all 0.25s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &:hover {
    background-color: darken($primary, 20%);
    text-decoration: none;
  }

  &.fullWidth {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding: 0.75rem;
    width: 100%;
  }

  &.primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 20%);
      text-decoration: none;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: darken($secondary, 20%);
      text-decoration: none;
    }
  }

  &.success {
    background-color: $success;
    color: $white;

    &:hover {
      background-color: darken($success, 20%);
      text-decoration: none;
    }
  }

  &.primaryDark {
    background-color: $primary-dark;
    color: $white;

    &:hover {
      background-color: lighten($primary-dark, 20%);
      text-decoration: none;
    }
  }

  &.info {
    background-color: $info;
    color: $gray-900;

    &:hover {
      background-color: darken($info, 20%);
      text-decoration: none;
    }
  }

  &.warning {
    background-color: $warning;
    color: $black;

    &:hover {
      background-color: darken($warning, 20%);
      text-decoration: none;
    }
  }

  &.danger {
    background-color: $danger;
    color: $white;

    &:hover {
      background-color: darken($danger, 20%);
      text-decoration: none;
    }
  }

  &.light {
    background-color: $light;
    color: $dark;

    &:hover {
      background-color: darken($light, 20%);
      text-decoration: none;
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;

    &:hover {
      background-color: lighten($dark, 20%);
      text-decoration: none;
    }
  }

  &.transparent {
    background-color: transparent;
    color: $body-color;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  &.transparentLight {
    background-color: transparent;
    color: $white;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }

  svg {
    margin-left: 0.5rem;
  }

  &:disabled {
    background-color: rgba($primary, 0.7);
    cursor: default;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.closeButton {
  margin: 0;
  transition: background-color ease-in-out 350ms;

  path {
    fill: $primary;

    &:hover {
      fill: lighten($primary, 20%) !important;
    }
  }
}

.iconOnly {
  svg {
    margin-left: 0;
  }
}
