.table-frame {
  background-color: $white;
  border-collapse: separate;
  border-image: $background-frame 150 200 150 200 / 47px / 25px 17px;
  border-style: solid;

  box-shadow: $box-shadow;
  margin-bottom: 40px;
  margin-top: 25px;

  &.spinner-frame {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 30rem;

    svg {
      animation: loading-animation 10s linear infinite running;
      fill: $primary;
      stroke: $primary;
    }
  }
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dnd-table {
  @extend .table;
  @extend .table-borderless;
  @extend .table-striped;

  tbody {
    tr {
      td {
        @extend .sans-serif;
      }
    }
  }

  &__hover {
    @extend .table-hover;

    tr {
      &:hover {
        background-color: $pine-green;
        color: $white;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        td {
          color: $white;
        }

        .name-row {
          color: lighten($pine-green, 25%);
        }
      }
    }
  }
}

.name-row {
  @extend .mr-eaves;
  color: $primary;
  font-size: 1.15rem;
}

.admin-container {
  background-color: #eee5ce;
  background-image: url("/images/dndBG.jpg");
  margin: 0 auto;
  padding-bottom: 6.25rem !important;
  position: relative;

  &::after {
    background-image: url("/images/dndBottomDeco.png");
    background-size: cover;
    bottom: 0;
    content: "";
    height: 6.25rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
