.container,
.container-fluid {
  padding: 1rem;
  @include media-breakpoint-up(lg) {
    padding: 1rem 6rem;
  }
}

h6 {
  font-weight: $font-weight-bold;
}

h1 {

  color: $dark-red;
  font-family: 'Mr Eaves', serif;
  font-size: $h1-font-size;

  &.home {
    font-family: 'Draconis Bold', serif;
    font-size: $display4-size;
  }
}

h2 {
  border-bottom: 2px solid $yellow;
  color: $dark-red;
  font-family: 'Mr Eaves', serif;
  font-size: $h2-font-size;
}

h3 {
  color: $dark-red;
  font-family: 'Mr Eaves', serif;
  font-size: $h3-font-size;
}

.navbar {

  .nav-link {
    @extend .sans-serif;
    @include font-size(1.1rem);
  }
}

.spinner {
  animation: 10s linear infinite running loading-animation;
  fill: $primary;
  stroke: $primary;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
