.container,
.container-fluid {
  @include media-breakpoint-up(lg) {
    padding: 1rem 6rem;
  }
  padding: 1rem;
}

h6 {
  font-weight: $font-weight-bold;
}

h1 {
  &.home {
    font-size: $display4-size;
    font-family: 'Draconis Bold', serif;
  }

  color: $dark-red;
  font-size: $h1-font-size;
  font-family: 'Mr Eaves', serif;
}

.card {
  position: relative;
  padding-top: 15px;
  background-color: #FDF1DC;
  border-style: solid;
  border-width: 10px;
  border-image: $orange-border;
  box-shadow: $box-shadow;
  font-family: 'Scaly Sans', sans-serif;
}

.dnd-table {
  @extend .table;
  @extend .table-borderless;
  @extend .table-striped;
}

//.row {
//  @extend .py-2;
//}