@font-face {
  font-family: 'Bookinsanity';
  src: url('./fonts/Bookinsanity.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./fonts/BookinsanityItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./fonts/BookinsanityBoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Bookinsanity';
  src: url('./fonts/BookinsanityBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Draconis Bold';
  src: url('./fonts/DraconisBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scaly Sans';
  src: url('./fonts/ScalySans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves';
  src: url('./fonts/MrEavesSmallCaps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}