@use 'sass:color';
@use 'sass:map';

// These mixins use variables from _variables.scss
// They expect to be used in files that have already loaded the variables

@mixin respond-to($breakpoint, $container-max-widths) {
  // If the key exists in the map
  @if map.has-key($container-max-widths, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map.get($container-max-widths, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Available breakpoints are: #{map.keys($container-max-widths)}.';
  }
}

@mixin resp-container {
  margin: 0 auto;
}

@mixin form-input(
  $input-bg,
  $primary,
  $body-color,
  $font-family-sans-serif,
  $transition-base,
  $input-focus-bg
) {
  appearance: none;
  background-clip: padding-box;
  background-color: $input-bg;
  border: 1px solid rgba($primary, 0);
  border-bottom: 0.0625rem solid rgba($body-color, 0);
  border-radius: 0;
  color: $body-color;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  outline: none;
  padding: 0.5rem 0.25rem;
  transition: $transition-base;
  width: 100%;

  &:hover {
    border-color: $primary;
  }

  &:focus {
    background-color: $input-focus-bg;
    border-color: rgba($primary, 0);
    border-bottom-color: rgba($primary, 1);
    color: $body-color;
  }

  &[readonly] {
    background-color: color.adjust($primary, $lightness: 40%);
    border: 1px solid color.adjust($primary, $lightness: 40%);
  }

  &::placeholder {
    color: $primary;
    font-family: $font-family-sans-serif;
  }
}

@mixin button-group {
  display: inline-flex;
  padding: 0.5rem 0;
  position: relative;
  vertical-align: middle;
  width: 100%;

  > button {
    flex: 1;
    margin: 0;
    position: relative;
  }

  // Reset rounded corners
  > button:not(:last-child),
  > .buttonGroup:not(:last-child) > button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  > button:nth-child(n + 3),
  > button:not(:first-child),
  > .buttonGroup:not(:first-child) > button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-bottom: $bottom;
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-bottom: $bottom;
  margin-left: $left;
  margin-right: $right;
  margin-top: $top;
}

@mixin button-bar(
  $font-size-lg,
  $primary,
  $border-radius-lg,
  $box-shadow,
  $white,
  $font-family-mr-eaves,
  $spacer,
  $transition-base,
  $box-shadow-sm
) {
  @include font-size($font-size-lg);
  background-color: $primary;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  color: $white;
  display: block;
  font-family: $font-family-mr-eaves;
  padding: $spacer;
  text-align: center;
  transition: $transition-base;
  width: 100%;

  &:hover {
    background-color: color.adjust($primary, $lightness: 20%);
    box-shadow: $box-shadow-sm;
    color: $white;
    text-decoration: none;
  }
}
