.sans-serif {
  font-family: $font-family-sans-serif;
}

.serif {
  font-family: $font-family-serif;
}

.mr-eaves {
  font-family: 'Mr Eaves', sans-serif;
}

.draconis {
  font-family: Draconis, serif;
}

.breadcrumb-item {
  @extend .sans-serif;

  color: $primary;

  &.active {
    color: $body-color;
  }
}

.dnd-title {
  @extend .mr-eaves;
  color: $dark-red;
  font-size: $h2-font-size;
}

.dnd-subtitle {
  @extend .sans-serif;
  font-size: $font-size-sm;
  font-style: italic;
}

.dnd-section {
  @extend .sans-serif;
  color: $dark-red;
  font-size: $font-size-lg;
}

dl {
  @extend .sans-serif;

  &.red {
    color: $dark-red;

    dd {

      margin-bottom: 0;

      strong {
        font-style: normal;
      }
    }
  }

  dd {

    margin-bottom: $spacer;

    strong {
      font-style: italic;
    }
  }
}

li.page-item,
a.btn,
.btn {
  @extend .mr-eaves;
}

.font-large-deco {
  font-family: 'Dungeon Drop Case', serif;
  font-size: $display4-size;
}
