@import '~bootstrap/scss/vendor/rfs';

// Brand Colors
$background-color: #d8ddba;
$background-med: #f3e8d4;
$card-bg: #fdf1dc;
$primary: #972c1d;
$text-red: #58180d;
$dark-red: #571a10;
$orange: #dd9529;
$light-purple: #ab6dac;
$silver: #91a1b2;
$green: #7a853b;
$brown: #7f513e;
$cobalt: #2a50a1;
$blue: #51a5c5;
$yellow: #c9ad6a;
$pine-green: #507f62;
$ash: #555752;
$blood-red: #992e2e;
$iris: #7b469b;
$white: #fff;
$gray-100: lighten($ash, 30%);
$gray-200: lighten($ash, 20%);
$gray-300: lighten($ash, 10%);
$gray-400: $ash;
$gray-500: darken($ash, 10%);
$gray-600: darken($ash, 20%);
$gray-700: darken($ash, 30%);
$gray-800: darken($ash, 40%);
$gray-900: darken($ash, 50%);
$black: #000;
$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
$theme-colors: (primary: $primary, secondary: $brown, success: $green, info: $orange, warning: $yellow, danger: $blood-red, light: $gray-100, dark: $gray-800);
$colors: (blue: $blue, indigo: $light-purple, purple: $iris, pink: $light-purple, red: $blood-red, orange: $orange, yellow: $yellow, green: $green, teal: $pine-green, cyan: $green, white: $white, gray: $gray-600, gray-dark: $gray-800);
$theme-color-interval: 8%;

$primary-dark: $dark-red;
$secondary: $brown;
$success: $green;
$info: $yellow;
$warning: $orange;
$danger: $blood-red;
$light: $gray-100;
$dark: $gray-800;

// Background Images
$orange-border: url('/images/dndFrameOrange.png') 10;
$background-frame: url('/images/dndFrame.png');
$page-background: url('/images/dndBG.jpg');

// Spacing
$spacer: 1rem;
$spacers: (0: 0, 1: ($spacer * 0.25), 2: ($spacer * 0.5), 3: $spacer, 4: ($spacer * 1.5), 5: ($spacer * 3));
$sizes: (25: 25%, 50: 50%, 75: 75%, 100: 100%);


// Options
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: false;
$enable-cssgrid: true;
$enable-print-styles: true;

// Sidebar
$sidebar-bg-color: $dark-red;
$sidebar-color: lighten($primary, 45%);
$icon-bg-color: transparent;
$icon-size: 2rem;
$submenu-bg-color: rgba(darken($dark-red, 10%), 0.3);
$sidebar-width: 15rem;
$sidebar-collapsed-width: 5rem;
//$highlight-color

// Shadow
$box-shadow: 5px 7px 7px rgba($gray-900, 0.5);
$box-shadow-sm: 3px 5px 5px rgba($gray-900, 0.5);


// Body
$body-bg: $primary;
$body-color: $gray-900;


// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;


// Grid
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
$grid-columns: 12;
$grid-gutter-width: 0.5rem;
$grid-gutter-height: 0.5rem;

// Components
$line-height-lg: 1.5;
$line-height-sm: 1.5;
$border-width: 0.0625rem;
$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;
$component-active-color: $white;
$component-active-bg: $primary;
$caret-width: 0.3em;
$transition-base: all 0.35s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;

// Fonts
$font-family-sans-serif: 'Scaly Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Bookinsanity', serif;
$font-family-mr-eaves: 'Mr Eaves', serif;
$font-family-draconis: 'Draconis Bold', serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$h1-font-size: 2.25rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.15rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;
$headings-margin-bottom: $spacer;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;
$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;
$display1-weight: 300;
$display2-weight: 300;
$display3-weight: 300;
$display4-weight: 300;
$display-line-height: $headings-line-height;
$lead-font-size: 1.25rem;
$lead-font-weight: 300;
$small-font-size: 80%;
$text-muted: $gray-600;
$blockquote-small-color: $gray-600;
$blockquote-font-size: ($font-size-base * 1.25);
$hr-border-color: rgba($black, 0.1);
$hr-border-width: $border-width;
$mark-padding: 0.2em;
$dt-font-weight: $font-weight-bold;
$kbd-box-shadow: inset 0 -0.1rem 0 rgba($black, 0.25);
$nested-kbd-font-weight: $font-weight-bold;
$list-inline-padding: 0.3125rem;
$mark-bg: #fcf8e3;


// Buttons
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 0.75rem;
$input-btn-line-height: 1.25;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$input-btn-line-height-sm: 1.5;
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-btn-line-height-lg: 1.5;
$btn-font-weight: $font-weight-normal;
$btn-box-shadow: inset 0 0.0625rem 0 rgba($white, 0.15), 0 0.0625rem 0.0625rem rgba($black, 0.075);
$btn-focus-box-shadow: 0 0 0 0.1875rem rgba($primary, 0.25);
$btn-active-box-shadow: inset 0 0.1875rem 0.3125rem rgba($black, 0.125);
$btn-link-disabled-color: $gray-600;
$btn-block-spacing-y: 0.5rem;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;
$btn-transition: all 0.15s ease-in-out;


// Forms
$input-bg: lighten($orange, 35%);
$input-disabled-bg: lighten($orange, 30%);
$input-color: $gray-800;
$input-border-color: $ash;
$input-btn-border-width: $border-width;
$input-box-shadow: inset 0 0.0625rem 0.0625rem rgba($black, 0.075);
$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;
$input-focus-bg: rgba($input-bg, 0);
$input-focus-border-color: lighten($primary, 25%);
$input-focus-box-shadow: $input-box-shadow, $btn-focus-box-shadow;
$input-focus-color: $input-color;
$input-placeholder-color: lighten($black, 60%);
$input-height-border: $input-btn-border-width * 2;
$input-height-inner: ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});
$input-height-inner-lg: ($font-size-sm * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});
$input-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
$form-text-margin-top: 0.25rem;
$form-check-margin-bottom: 0.5rem;
$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.25rem;
$form-check-input-margin-x: 0.25rem;
$form-check-inline-margin-x: 0.75rem;
$form-group-margin-bottom: 1rem;
$input-group-addon-bg: $gray-200;
$input-group-addon-border-color: $input-border-color;
$custom-control-gutter: 1.5rem;
$custom-control-spacer-y: 0.25rem;
$custom-control-spacer-x: 1rem;
$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: #ddd;
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: inset 0 0.25rem 0.25rem rgba($black, 0.1);
$custom-control-indicator-disabled-bg: $gray-200;
$custom-control-description-disabled-color: $gray-600;
$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-focus-box-shadow: 0 0 0 0.0625rem $body-bg, 0 0 0 0.1875rem $primary;
$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: lighten($primary, 35%);
$custom-control-indicator-active-box-shadow: none;
$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-indeterminate-bg: $primary;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-indeterminate-box-shadow: none;
$custom-radio-indicator-border-radius: 50%;
$custom-select-padding-y: 0.375rem;
$custom-select-padding-x: 0.75rem;
$custom-select-height: $input-height;
$custom-select-indicator-padding: 1rem;
$custom-select-line-height: $input-btn-line-height;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-600;
$custom-select-bg: $white;
$custom-select-disabled-bg: $gray-200;
$custom-select-bg-size: 0.5rem 0.625rem;
$custom-select-indicator-color: #333;
$custom-select-border-width: $input-btn-border-width;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;
$custom-select-focus-border-color: lighten($primary, 25%);
$custom-select-focus-box-shadow: inset 0 0.0625rem 0.125rem rgba($black, 0.075), 0 0 0.3125rem rgba($custom-select-focus-border-color, 0.5);
$custom-select-font-size-sm: 75%;
$custom-select-height-sm: $input-height-sm;
$custom-file-height: 2.5rem;
$custom-file-width: 14rem;
$custom-file-focus-box-shadow: 0 0 0 0.075rem $white, 0 0 0 0.2rem $primary;
$custom-file-padding-y: 1rem;
$custom-file-padding-x: 0.5rem;
$custom-file-line-height: 1.5;
$custom-file-color: $gray-700;
$custom-file-bg: $white;
$custom-file-border-width: $border-width;
$custom-file-border-color: $input-border-color;
$custom-file-border-radius: $border-radius;
$custom-file-box-shadow: inset 0 0.2rem 0.4rem rgba($black, 0.05);
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: $gray-200;
$form-feedback-valid-color: $green;
$form-feedback-invalid-color: $blood-red;


// Navs
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;
$nav-link-disabled-color: $gray-600;
$nav-tabs-border-color: #ddd;
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: $gray-200;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: #ddd;
$nav-pills-border-radius: $border-radius;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;


// Tables
$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;
$table-bg: transparent;
$table-accent-bg: rgba($pine-green, 0.1);
$table-hover-bg: rgba($pine-green, 0);
$table-active-bg: $table-hover-bg;
$table-striped-bg: transparent;
$table-border-width: 0;
$table-border-color: transparent;
$table-head-bg: $ash;
$table-head-color: $white;


// Pagination
$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-line-height: 1.25;
$pagination-color: $link-color;
$pagination-bg: $white;
$pagination-border-width: $border-width;
$pagination-border-color: #ddd;
$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-200;
$pagination-hover-border-color: #ddd;
$pagination-active-color: $white;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: #ddd;

$accordion-icon-color: $white;

@import 'mixins';
