.container,
.container-fluid {
  padding: 1rem 6rem;
}

.row {
  @extend .pt-3;
  @extend .pb-4;
}

.list-group {
  @extend .mb-4;
}

h6 {
  font-weight: $font-weight-bold;
}

h1 {
  &.home {
    font-size: $display4-size;
    font-family: 'Draconis Bold', serif;
  }

  color: $dark-red;
  font-size: $h1-font-size;
  font-family: 'Mr Eaves', serif;
}

.dnd-table {
  @extend .table;
  @extend .table-borderless;
  @extend .table-striped;
}

.table-frame {
  margin-top: 25px;
  margin-bottom: 40px;
  border-collapse: separate;
  background-color: white;
  border-style: solid;
  border-image-outset: 25px 17px;
  border-image-repeat: stretch;
  border-image-slice: 150 200 150 200;
  border-image-source: $background-frame;
  border-image-width: 47px;
}