.container,
.container-fluid {
  @extend .py-3;
}

.row {
  @extend .pt-3;
  @extend .pb-4;
}

.list-group {
  @extend .mb-4;
}

h6 {
  font-weight: $font-weight-bold;
}

h1 {
  &.home {
    font-size: $display4-size;
    font-family: 'Draconis Bold', serif;
  }

  color: $dark-red;
  font-size: $h1-font-size;
  font-family: 'Mr Eaves', serif;
}