@import '../../../stylesheets/variables';
/* stylelint-disable selector-class-pattern */

.noFrame {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 30rem;
}

/* stylelint-enable selector-class-pattern */