@import '../../stylesheets/variables';

.wrapper {
  @include resp-container;
  display: grid;
  grid-gap: $spacer * 3;
  grid-template-columns: 1fr;
  @include respond-to(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond-to(xl) {
    grid-template-columns: 1fr 20rem;
  }
}

.section {
  padding: $spacer * 1 0;
  width: 100%;
}

.buttonBar {
  @include button-bar;
  margin: $spacer * 0.5 0;
}

.buttonBarGreen {
  @include button-bar;
  background-color: $green;
  margin: $spacer * 0.5 0;
}

.actionTypeContainer {
  background-color: $primary;
  border-radius: $border-radius-sm;
  color: $white;
  margin-bottom: $spacer * 0.5;
  padding: $spacer * 0.5;
}
