@import '../../stylesheets/variables';

.wrapper {
  @include resp-container;
}

.section {
  padding: $spacer * 1 0;
  width: 100%;
}

.buttonBar {
  @include button-bar;
}

.actionTypeContainer {
  background-color: $primary;
  border-radius: $border-radius-sm;
  color: $white;
  margin-bottom: $spacer * 0.5;
  padding: $spacer * 0.5;
}