@import '../../stylesheets/variables';

.form {
  label {
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg;
    padding: 0 0 $spacer * 0.5;
  }

  input,
  .selectRow {
    margin-bottom: $spacer;
  }

  .selectRow {
    z-index: 100;
  }
}
