<div class="nested-fields px-4">
  <%= f.input :quantity %>
  <%= f.association :items, input_html: { class: "equipment_item_item" } %>
  <%= link_to_remove_association "Remove", f, class: "btn btn-warning" %>
</div>
