@import '../../../../../../../stylesheets/variables';

.actionContainer {
  background-color: lighten($brown, 15%);
  border-radius: 0.25rem;
  color: $white;
  margin-bottom: 1rem;
  padding: 1rem;
}

.actionContent {
  //overflow: hidden;
}

.wrapper {
  padding: 0;
}

.actionWrapper,
.subformWrapper,
.spellSlots {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;

  .wrapper {
    padding: 0;
  }
}

.actionCol,
.diceSelect,
.checkbox {
  flex: 1;
}

.checkbox {
  align-items: center;
  display: flex;
  padding-left: 1.5rem;
}

.diceGroup {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.5rem;

  > div {
    flex: 1;
  }
}

input {
  &:focus {
    color: $white;
  }
}

.label {
  font-family: $font-family-sans-serif;
  margin-bottom: 0.25rem;
}

