@import "../../stylesheets/variables";

.bannerAdContainer {
  display: flex;
  justify-content: center;
  padding: 0 0 1rem;
}

.bannerImage {
  height: auto;
  width: 100%;

  &.bannerImageSmall {
    @include respond-to(md) {
      display: none;
    }
  }

  &.bannerImageLarge {
    display: none;
    @include respond-to(md) {
      display: block;
    }
  }
}
