@import '../../stylesheets/variables';

.wrapper {
  @include resp-container;
}

.section {
  padding: $spacer * 1 0;
  width: 100%;
}

.userInfo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.userPic {
  margin-right: 1rem;
}

.userData {
  color: $primary-dark;
  font-family: $font-family-sans-serif;
  font-size: $font-size-lg;

  strong {
    color: $blood-red;
    margin-right: 1rem;
  }

  p {
    margin: 0.25rem 0;
  }
}

.buttonBar {
  @include font-size($font-size-lg);
  background-color: $primary;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow;
  color: $white;
  display: block;
  font-family: $font-family-mr-eaves;
  padding: $spacer;
  text-align: center;
  transition: $transition-base;
  width: 100%;

  &:hover {
    background-color: lighten($primary, 20%);
    box-shadow: $box-shadow-sm;
    color: $white;
    text-decoration: none;
  }
}
