@import '../../stylesheets/variables';

.wrapper {
  @include resp-container;
}

.section {
  padding: $spacer * 1 0;
  position: relative;
  width: 100%;
}

.userInfo {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.userPic {
  margin-right: 1rem;
}

.userData {
  color: $primary-dark;
  font-family: $font-family-sans-serif;
  font-size: $font-size-lg;

  strong {
    color: $blood-red;
    margin-right: 1rem;
  }

  p {
    margin: 0.25rem 0;
  }
}

.dashboardHeader {
  border-bottom: 2px solid $yellow;
  border-top: 2px solid $yellow;
  margin-bottom: 1rem;
  padding: 0;

  h2 {
    border-bottom: 0;
    margin: 0;
    padding: 0.5rem 0 0;

    small {
      font-family: $font-family-serif;
      font-size: $font-size-sm;
      font-style: italic;
    }
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .saveButton,
    .listButton {
      padding: 0;

      path {
        fill: $primary;
      }
    }
  }
}

.addListContent {
  .heading {
    align-items: center;
    border-bottom: 1px solid $primary;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    h3 {
      margin: 0;
    }
  }

  .content {
    padding: 1rem;
  }
}

.dashboardModal {
  background: lighten($yellow, 25%);
  border-radius: 4px;
  outline: none;
  overflow: auto;
  padding: 0;
  position: absolute;
}

.dashboardModalOverlay {
  align-items: center;
  background-color: rgba($primary, 0.75);
  display: flex;
  inset: 0 0 0 4.75rem;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

.collapsed {
  &.dashboardModalOverlay {
    inset: 0 0 0 4.75rem;
  }
}
